/* prevent horizontal scrolling */
body{
  background-color: var(--bg-main);
  color: var(--text-main);
  min-height: 100vh;
  overflow-x: hidden;
}

/* root container */
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* page content wrapper */
.app-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* centers page content */
  padding: 2rem;
}
  @media (max-width: 900px) {
    .app-container {
      max-width: 100%;
      padding: 1rem;
    }
  }

  @media (max-width: 600px) {
    .app-container {
      max-width: 100%;
      padding: 0.5rem;
    }
  }

/* section spacing */
section{
  margin-bottom: 4rem;
}